body{
    user-select: none;
 }

.a, a:hover, a:active, a:visited{
    text-decoration: none;
    color: black;
}

.noline{
    text-decoration: none;
    color: black;
}

.font-1 {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('./woff2/PretendardVariable.woff2') format('woff2-variations');
}

.font-2 {
    font-family: 'Pretendard', sans-serif;
}

.font-3 {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.font-4 {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-5 {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-6 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
}

.font-7 {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

.veg-line{
    width: 100%;
    height: 120px;
    top: 590px;
    overflow: hidden;
    position: relative;
    background: white;
    user-select: none;
}
    
.veg-track{
     display: inline-block;
     white-space: nowrap;
     animation: scroll-left 120s linear infinite;
}
    
 .veg-img {
     height: 120px;
     display: inline-block;
     margin-right: 20px;
     opacity: 0.7;
 }
    
 @keyframes scroll-left {
     100% {
         transform: translateX(100%);
     }
    100% {
        transform: translateX(-100%);
     }
}

 a {color: inherit;}
    
 a:hover {color: inherit;}

.back{
    position: absolute;
    display: inline-block;
    left:50px;
    top:50px;
    user-select: none;
}

.pagename{
    position: absolute;
    display: inline-block;
    text-align: center;
    left: 580px;
    top: 50px;
    user-select: none;
    font-size: 30px;
    line-height: 0.6;
    color: green;
    opacity: 0.7;
}

.italic{
    font-style: italic;
}

.bold{
    font-weight: 400;
}

.light{
    font-weight: 300;
}

.big{
    font-size: 40px;
}

.small{
    font-size: 25px;
}

.up{
    position: absolute;
    display: inline-block;
    top: -5px;
}

.star{
    position: absolute;
    width: 15px;
    height: auto;
    left: 432px;
    top: -6px;
    user-select: none;
}

.star2{
    position: absolute;
    width: 15px;
    height: auto;
    left: 434px;
    top: -6px;
    user-select: none;
}

.infobox{
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
}

.info{
    position: absolute;
    transform: translateX(-50%);
    background: white;
    color: black;
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 50px;
    opacity: 0;
    align-content: center;
    transition: opacity 0.2s ease;
    pointer-events: none;
    border: solid black 2px;
    z-index: 15;
}

.first-info{
    position: absolute;
    left: 1005px;
    top: 170px;
    width: 400px;
    height: auto;
    text-align: center;
}

.second-info{
    position: absolute;
    left: 612.5px;
    top: -122px;
    width: 402px;
    height: auto;
    text-align: center;
}

.infobox:hover .info {
    opacity: 1;
}

.first-menu{
    position: relative;
    display: inline-block;
    z-index: 2;
}

.first-menu::after{
    content: "";
    position: absolute;
    left: 160px;
    bottom: 7px;
    width: 0px;
    height: 2px;
    background-color: black;
    transition: width 0.8s ease;
    z-index: 10; 
}

.first-menu:hover::after {
    width: 465px;
}

.second-menu{
    position: relative;
    display: inline-block;
    z-index: 2;
}

.second-menu::after{
    content: "";
    position: absolute;
    left: -4px;
    bottom: -4px;
    width: 0px;
    height: 2px;
    background-color: black;
    transition: width 0.8s ease;
    z-index: 10; 
}

.second-menu:hover::after {
    width: 335px;
}

.first-s{
    position: relative;
    user-select: none;
    font-size: 87px;
    left: 162px;
    top: 40px;
    z-index: 5;
}

.first-o{
    position: relative;
    user-select: none;
    width: 46px;
    height: auto;
    left: 145px;
    top: 43px;
    z-index: 5;
}

.first-m{
    position: relative;
    user-select: none;
    font-weight: 400;
    font-size: 75px;
    left:131px;
    top: 40px;
    z-index: 4;
}

.first-e{
    position: relative;
    user-select: none;
    font-size: 91px;
    left:120px;
    top: 40px;
    z-index: 5;
}

.first-f{
    position: relative;
    user-select: none;
    font-size: 75px;
    left:143px;
    top:40px;
    font-style: italic;
    z-index: 5;
}

.first-a{
    position: relative;
    user-select: none;
    font-size: 90px;
    left:143px;
    top: 40px;
    z-index: 5;
}

.first-c{
    position: relative;
    user-select: none;
    font-size: 60px;
    left: 131px;
    top: 40px;
    z-index: 5;
}

.first-t{
    position: relative;
    user-select: none;
    font-size:70px;
    left: 120px;
    top:39px;
    font-weight: 300;
    z-index: 5;
}

.first-s2{
    position: relative;
    user-select: none;
    font-size: 65px;
    left: 116px;
    top:37px;
    font-style: italic;
    z-index: 5;
}

.first-a2{
    position: relative;
    user-select: none;
    font-size: 85px;
    left:160px;
    top: -15px;
    z-index: 5;
}

.first-b{
    position: relative;
    user-select: none;
    font-size: 70px;
    left:155px;
    top: -13px;
    z-index: 5;
}

.first-o2{
    position: relative;
    user-select: none;
    width: 48px;
    height: auto;
    left: 145px;
    top: -10px;
    z-index: 5;
}

.first-u{
    position: relative;
    user-select: none;
    font-size: 82px;
    left: 142px;
    top:-15px;
    z-index: 5;
}

.first-t2{
    position: relative;
    user-select: none;
    font-size:70px;
    left: 137px;
    top: -15px;
    font-weight: 400;
    z-index: 5;
}

.first-v{
    position: relative;
    user-select: none;
    font-size:70px;
    left: 152px;
    top:-15px;
    z-index: 5;
}

.first-e2{
    position: relative;
    user-select: none;
    font-size:65px;
    left: 145px;
    top:-14px;
    z-index: 5;
}

.first-g{
    position: relative;
    user-select: none;
    font-size:70px;
    left: 135px;
    top:-13px;
    z-index: 5;
}

.first-g2{
    position: relative;
    user-select: none;
    font-size:65px;
    left: 130px;
    top:-9px;
    z-index: 5;
}

.first-i{
    position: relative;
    user-select: none;
    font-size:70px;
    left: 125px;
    top:-15px;
    z-index: 5;
}

.first-e3{
    position: relative;
    user-select: none;
    font-size:65px;
    left: 115px;
    top:-17px;
}

.first-e4{
    position: relative;
    user-select: none;
    font-size:65px;
    left: 120px;
    top:-15px;
    z-index: 5;
}

.first-last{
    position: relative;
    user-select: none;
    width: 42px;
    height: auto;
    left: 98px;
    top:-30px;
    z-index: 5;
}

.second-move{
    position: absolute;
    display: inline-block;
    left:400px;
    top:420px;
}

.second-r{
    position: relative;
    user-select: none;
    font-size:70px;
    z-index: 5;
    font-style: italic;
}

.second-e{
    position: relative;
    user-select: none;
    font-size:70px;
    z-index: 5;
}

.second-c{
    position: relative;
    user-select: none;
    font-size:60px;
    z-index: 5;
}

.second-idot{
    position:relative;
    width: 13px;
    top:-45px;
    left:-12px;
    height: auto;
    z-index: 5;
}

.second-i{
    position: relative;
    width: 20px;
    top: 4px;
    left:-13px;
    height: auto;
    z-index: 5;
}

.second-p{
    position: relative;
    user-select: none;
    left:-15px;
    font-size:65px;
    z-index: 5;
}

.second-e2{
    position: relative;
    user-select: none;
    left:-23px;
    top:-2px;
    font-size:75px;
    font-style: italic;
    z-index: 5;
}

.second-s{
    position: relative;
    user-select: none;
    left:-23px;
    top:-4px;
    font-size:65px;
    z-index: 5;
}

.second-mush{
    position:absolute;
    width: 50px;
    left:290px;
    top: 35px;
    height: auto;
    z-index: 5;
}
